<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-3">Shopping App</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" 
      routerLink="shopping-list">Shopping list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"
       routerLink="recipes">Recipes</a>
    </li>
  </ul>
  <span style="margin-left: auto; margin-right: 1rem;">
    <app-dropdown dropdownStyle="light"
                  dropdownTitle="Manage"
                  [alignToRight]="true"
                  [menuList]="['Save Data', 'Fetch Data']">
    </app-dropdown>
  </span>
</nav>
