<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         [alt]="recipe.name"
         style="width: 200px" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-dropdown 
    [menuList]="['To Shopping List', 'Edit Recipe', 'Delete Recipe']">
    </app-dropdown>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
