<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         [alt]="recipe.name"
         style="width: 24rem" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-dropdown
    [menuList]="[TO_SHOPPING_LIST_LABEL, 'Edit Recipe', 'Delete Recipe']"
    [dropdownTitle]="'Manage'"
    (onClickEvent)="onDropdownItemClick($event)">
    </app-dropdown>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
